<div class="container login-container mt-5">
    <div class="row  h-100 ">
        <div class="col-lg-6 ">
            <div class="login-img">
                <img src="assets/images/bc-masters-burger.png" alt="Login Image" class=" h-100 w-100">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="h-100 p-5 row justify-content-center align-items-center ">
                <div class="login-header text-center">
                    <h1 class="display-4 greenC_ text-uppercase ">Welcome Back!</h1>
                    <p class="lead">Please login to your account</p>
                </div>
                <form class="g-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group my-5">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" formControlName="email"
                            aria-describedby="emailHelp" placeholder="Enter Your email">
                        <small id="emailHelp" class="form-text text-muted greenC_">We'll never share your email with
                            anyone
                            else.</small>

                        @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
                        @if (loginForm.get('email')?.errors?.['required']) {
                        <div class="alert alert-danger p-2 m-0" role="alert">
                            Email is required.
                        </div>
                        @if (loginForm.get('email')?.errors?.['email']) {
                        <div class="alert alert-danger p-2 m-0" role="alert">
                            Email must be at least 5 characters long.
                        </div>
                        }
                        }
                        @if (loginForm.get('email')?.errors?.['maxlength']) {
                        <div class="alert alert-danger p-2 m-0" role="alert">
                            Email must be at most 50 characters long.
                        </div>
                        }
                        }
                    </div>
                    <div class="form-group my-5">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            formControlName="password">

                        @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
                        @if (loginForm.get('password')?.errors?.['required']) {
                        <div class="alert alert-danger m-0 p-2" role="alert">
                            Password is required.
                        </div>
                        }
                        @if (loginForm.get('password')?.errors?.['minlength']) {
                        <div class="alert alert-danger m-0 p-2" role="alert">
                            Password must be at least 3 characters long.
                        </div>
                        }
                        @if (loginForm.get('password')?.errors?.['maxlength']) {
                        <div class="alert alert-danger m-0 p-2" role="alert">
                            Password must be at most 15 characters long.
                        </div>
                        }
                        }
                    </div>
                    <div class="form-check my-4">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="rememberMe">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn_ green w-100 text-white "
                        [disabled]="!loginForm.valid">Login</button>
                    @if(successMessage) {
                    <div class="alert alert-success mt-3" role="alert">
                        {{ successMessage }}
                    </div>
                    }
                    @if(errorMessage) {
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ errorMessage }}
                    </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>