<div class="error-page">
    <div class="error-wrapper">
        <div class="error-img">
            <img src="assets/images/pizza-s-1.webp" alt="error image">
        </div>
        <div class="error-comp ">

            <h3 class="error-title f_Bold">
                الصفحة غير موجودة
            </h3>
            <p class="error-subTilte f_Regular m-auto">
                يبدو أن الرابط الذي تحاول الوصول إليه غير صحيح أو لم يعد موجودًا.
                يمكنك العودة إلى الصفحة الرئيسية أو تصفح الأقسام الأخرى.
            </p>
        </div>

        <button class="error-btn btn_ green f_Bold uk-flex uk-flex-middle uk-flex-center cursor g-2">
            العودة الي الصفحه الرئيسيه
        </button>
    </div>

</div>