@import 'variables';

.whiteC_ {
  color: $white !important;
}

.whiteBG_ {
  background-color: $white !important;
}

.blackSolidC_ {
  color: $black_solid !important;
}
.blackLightC_ {
  color: $black_light !important;
}

.blackSolidBG_ {
  background-color: $black_solid !important;
}

.blackC_ {
  color: $black !important;
}

.blackBG_ {
  background-color: $black !important;
}
.blackLightBG_ {
  background-color: $black_light !important;
}

.grayC_ {
  color: $gray !important;
}

.grayBG_ {
  background-color: $gray !important;
}


.yellowC_ {
  color: $yellow !important;
}

.yellowBG_ {
  background-color: $yellow !important;
}

.redC_ {
  color: $red !important;
}

.redBG_ {
  background-color: $red !important;
}
.redBloodC_ {
  color: $red-blood !important;
}

.redBloodBG_ {
  background-color: $red-blood !important;
}

.orangeC_ {
  color: $orange !important;
}

.orangeBG_ {
  background-color: $orange !important;
}

.greenC_ {
  color: $green !important;
}

.greenBG_ {
  background-color: $green !important;
}
