// color
$white: #ffffff;
$black: #333333;
$black_solid: #000000;
$black_light:#3A3A3A;
$gray: #A1A5B7;
$light_gray: #dcdcdc;
$yellow: #FFBE0B;
$red: #FE5956;
$red-blood: #E42D2C ;
$orange: #fd9644;
$green: #00CC92;
$baby_blue: #1B9DF1;



// general
$border_radius: 10px;
$transition: 0.5s;

// input
$input_height: 48px;
$input_border_color: #EEEEEE;
$input_background: #F7F7F7;
$input_font_size: 0.9rem;


// button
$btn_height: 48px;
$btn_height_small: 42px;
$btn_padding_small: 5px;
$btn_padding_large: 10px 27px;
$btn_font_size: 0.9rem;
$btn_font_size_mobile: 0.7rem;
$btn_green_hover_black: #0E0E10;
$btn_black_hover_green: #00CC92;
$btn_padding: 10px 27px
